#mainName {
	font-family: 'Anton', sans-serif;
}

.jumbotron {
	background-color: #BDF2FF;
}

.container {
	margin-top: 20px;
	margin-bottom: 20px;
}

input {
	margin-right: 15px;
}

.question-styling {
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 15px;
}